:root {
    --nav-h: 56px;
    --side-w: 240px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


.navbar{
    top: 0;
    height: var(--nav-h);
    z-index: 1030;
    background-color: #000;
}


.side_bar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--side-w);
    background: #c1c954;
    border-right: 1px solid #dcdcdc;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1045;
}


.side_bar .logo_name {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}


.nav_opt {
    margin-top: 30px;
    text-align: center;
}

.nav_opt a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    display: block;
    padding: .25rem 0;
}

.nav_opt a:hover {
    
    color: #111;
    font-weight: 700;
}

.sidebar-spacer {
    width: var(--side-w);
    display: none;
}


.main_container {
   
    padding-top: calc(var(--nav-h) + 1rem);

    
    padding-left: calc(1rem + var(--bs-gutter-x, 1.5rem)/2);
    padding-right: calc(1rem + var(--bs-gutter-x, 1.5rem)/2);

    min-height: calc(100vh - var(--nav-h));
    background-color: #fff;
    overflow-x: hidden;
    margin-left: 0;
}

.mainbg {
    min-height: calc(100vh - var(--nav-h) - 2rem);
    width: 100%;
    background-color: rgba(0, 0, 0, .07);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    border: .5px solid #e0e0e0;
   
    border-radius: 8px;
    
}


@media (min-width: 992px) {

    .main_container {
        margin-left: var(--side-w);
        overflow-y: auto;
    }
}