:root {
    --nav-h: 56px;
    --side-w: 240px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* NAVBAR */
.navbar {
    top: 0;
    height: 2rem;
    background-color: #575454;
    z-index: 1030;
}

/* SIDEBAR */
.side_bar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--side-w);
    background: rgb(12, 194, 97);
    border-right: 1px solid #dcdcdc;
    padding: 16px;
    display: flex;
    flex-direction: column;
    z-index: 1045;
}

.side_bar .logo_name {
    font-size: 30px;
    font-weight: 700;
}

.nav_opt {
    margin-top: 30px;
}

.nav_opt a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    display: block;
    padding: .25rem 0;
}

.nav_opt a:hover {
    color: #111;
    font-weight: 701;
}

.sidebar-spacer {
    width: var(--side-w);
    display: none;
}

/* MAIN */
.main_container {
    padding-top: calc(var(--nav-h) + 1rem);
    padding-left: calc(1rem + var(--bs-gutter-x, 1.5rem)/2);
    padding-right: calc(1rem + var(--bs-gutter-x, 1.5rem)/2);
    min-height: calc(100vh - var(--nav-h));
    background-color: #fff;
    overflow-x: hidden;
}

/* BACKGROUND WRAPPER */
.mainbg {
    height: calc(100vh - var(--nav-h) - 2rem);
    width: 100%;
    background-color: rgba(0, 0, 0, .05);
    display: flex;
    align-items: center;
    just
