:root {
    --nav-h: 56px;
    --side-w: 240px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* NAVBAR */
.navbar {
    top: 0;
    height: 2rem;
    background-color: #575454;
    z-index: 1030;
}

/* SIDEBAR */
.side_bar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--side-w);
    background: rgb(12, 194, 97);
    border-right: 1px solid #dcdcdc;
    padding: 16px;
    display: flex;
    flex-direction: column;
    z-index: 1045;
}

.side_bar .logo_name {
    font-size: 30px;
    font-weight: 700;
}

.nav_opt {
    margin-top: 30px;
}

.nav_opt a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    display: block;
    padding: .25rem 0;
}

.nav_opt a:hover {
    color: #111;
    font-weight: 701;
}

.sidebar-spacer {
    width: var(--side-w);
    display: none;
}

/* MAIN */
.main_container {
    padding-top: calc(var(--nav-h) + 1rem);
    padding-left: calc(1rem + var(--bs-gutter-x, 1.5rem)/2);
    padding-right: calc(1rem + var(--bs-gutter-x, 1.5rem)/2);
    min-height: calc(100vh - var(--nav-h));
    background-color: #fff;
    overflow-x: hidden;
}

/* BACKGROUND WRAPPER */
.mainbg {
    height: calc(100vh - var(--nav-h) - 2rem);
    width: 100%;
    background-color: rgba(0, 0, 0, .05);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 1.5rem;
}

/* LOST & FOUND ITEM IMAGE */
.item-image {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 1rem;
    border: 2px solid #ddd;
    background-color: white;
}

.item-image:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}

/* DETAILS CARD */
.item-card {
    max-width: 500px;
    border-radius: 15px;
    padding: 1.5rem;
    background-color: white;
}

.item-card h3 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.item-card ul {
    list-style-type: none;
    padding-left: 0;
}

.item-card li {
    margin-bottom: 0.5rem;
    font-size: 17px;
}

.item-label {
    font-weight: 700;
    color: #333;
}

/* RESPONSIVE */
@media (min-width: 992px) {
    .main_container {
        margin-left: var(--side-w);
        overflow-y: auto;
    }
}